:root {
  --primary-text-color: #757575; /*Главный цвет текста*/
  --title-text-color: #212121; /*Цвет текста заголовков*/
  --accent-color: #2196f3; /*Цвет акцентов*/
  --white-text-color: #ffffff; /*Белый цвет текста*/
}

/*Главный цвет текста #757575*/
/*Цвет текста заголовков #212121*/
/*Цвет акцентов #2196f3*/
/*Белый цвет текста #ffffff*/
/*Основной цвет фона #ffffff*/
/*Вторичный цвет фона #F5F4FA*/

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.logo {
  color: #000000;
}

.logo-accent {
  color: #2196f3;
}

/* site-nav */
.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
